@tailwind base;
@tailwind components;
@tailwind utilities;


ytd-app {
  --app-drawer-width: 240px;
  --ytd-persistent-guide-width: 240px;
  --ytd-permission-role-bottom-bar-height: 30px;
  --ytd-mini-guide-width: 72px;
  --app-drawer-content-container-background-color: var(--yt-spec-base-background );
  background: var(--yt-spec-base-background);
  display: block;
  left: 0;
  min-height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  scrollbar-color: var(--yt-spec-text-secondary) transparent;
}



.flex justify-between fixed w-full h-16 bg-white{
  height: 56px;
  padding: 0 16px;
  display: flexbox;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

yt-icon.ytd-logo {
  height: 20px;
  width: 90px;
  padding: 18px 14px 18px 16px;
  color: var(--yt-spec-wordmark-text);
  flex: none;
}

ytd-mini-guide-renderer.ytd-app {
  position: fixed;
  left: 0;
  top: var(--ytd-masthead-height,var(--ytd-toolbar-height));
  bottom: 0;
  width: var(--ytd-mini-guide-width);
  box-sizing: border-box;
}

ytd-mini-guide-renderer {
  display: inline-block;
  background-color: var(--yt-spec-base-background);
  z-index: 2028;
  padding: 0 4px;
}

